
.alert{
  z-index: "-1";
  /* margin-top: -15px; */
  height:44px;
  padding-top: 9px;
}

#alert-height{
  height: 44px;
  margin-bottom: 10px;
  margin-top: -14px;
  margin-left: -110px;
  width: 117%;
}
.container-button{
  cursor: pointer;
  height: 21px;
  width: 15px;
  margin: 0px 2px;
  border: solid black 2px;
}
#btn-4{
  margin-right: 23px;
}
/* .container{
  display: flex;

   align-items: center;
  justify-content: center;
  flex-direction: column; 
} */
